:root {
    --text-color: rgb(50, 205, 186);
    --code-color: white;
    --text-font: Verdana, Geneva, Tahoma, sans-serif;
    --code-font: monospace;
}

* {
    background-color: rgb(77, 74, 74);
}

header h1 {
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
}

header p {
    text-align: center;
    color: var(--code-color);
    font-family: var(--text-font);
    padding-left: 50px;
    padding-right: 50px;
}

main {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
}

.fancy-box {
    border: 2px dashed white;
    flex-basis: 33%;
    box-sizing: border-box;
}

.fancy-box h2 {
    color: var(--text-color);
    font-family: var(--text-font);
    border: 2px solid white;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
}

.code {
    color: var(--code-color);
    background: linear-gradient(rgb(18, 86, 78), rgb(50, 205, 186));
    box-sizing: border-box;
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
    flex-basis: 33%;
    border-radius: 10px;
    transition: all 1s ease-out;
}

.code:active {
    user-select: all;
}

.code:hover {
    margin-right: 3%;
    margin-left: 3%;
}

footer {
    color: var(--text-color);
    font-family: var(--text-font);
    text-align: center;
}